---
layout: default
---
<div class="container">
  <div class="row">

    <div class="col-12 text-center py-5">
      <a href="https://smartcitizen.me">
        <img class="text-white" src="https://fablabbcn.github.io/assets/images/smartcitizen_logo.svg" style="height:50px" alt="SCK logo">
      </a>
    </div>

    {% for site in site.data.sites %}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-5">
      <div class="card text-center {{site.color}}">
        <a href="{{site.url}}" target="_blank">
          <div class="card-body">
            <div class="w-50 mx-auto">{{site.icon}}</div>
            <div class="sc-title d-flex align-items-center justify-content-center">
              <h4 class="text-uppercase">{{site.name}}</h4>
            </div>
            <div class="sc-text d-flex align-items-center justify-content-center">
              <p>{{site.tagline}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="row my-5">
    <div class="col-12 text-center">
      <h4>Other</h4>
    </div>
    {% for item in site.data.community %}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-5">
      <div class="card text-center {{item.color}}">
        <a href="{{item.url}}" target="_blank">
          <div class="w-50 mx-auto">{{item.icon}}</div>
          <div class="sc-title d-flex align-items-center justify-content-center">
            <h4 class="text-uppercase">{{item.name}}</h4>
          </div>
          <div class="sc-text d-flex align-items-center justify-content-center">
            <p>{{item.tagline}}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
